p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
}

.container {
  margin: 0 auto;
  width: 753px;
  padding: 35px 15px 35px 15px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}
.types-title {
  font-size: 21px;
  text-align: center;
  margin-bottom: 40px;
}
.article-title {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
}
.section {
  margin-bottom: 37px;
}

.table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

.border {
  border-right: 2px solid black;
}
.table-img {
  padding: 11px;
  vertical-align: top;
}

.table-row {
  border: 2px solid black;
}

.table-data {
  padding: 10px 110px 10px 48px;
}

.table-list {
  margin-bottom: 43px;
}
.table-list li {
  font-size: 18px;
}
.table-item {
  font-size: 21px;
  font-weight: 600px;
}
a {
  font-size: 19px;
  color: blue;
  text-decoration: underline;
  margin-left: 20px;
}
.types {
  margin: 0 auto;
}

.text-types {
  font-size: 21px;
  font-weight: 600;
}

.thumb {
  display: flex;
  margin-bottom: 25px;
}

.text {
  font-size: 21px;
}

.text-info {
  font-size: 18px;
}

.specific {
  margin-bottom: 46px;
}

.picture {
  float: left;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding-left: 58px;
}
